.form-body{height: 100%;}
.form-signin{padding: 15px;margin: auto;width:100%;max-width: 330px;}
/*.w-50{width:50%;}*/
.f_l{float: left;}
.f_r{float: right;}
.mg-auto{margin: auto;}
.checkCode{width: 40%;margin-left: 10%;overflow: hidden;height: 38px;}
